<h1 class="title has-text-centered">❌ Fail</h1>
{% for criterion in criteria %}
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">
                {% if criteria[criterion]['is_passed'] %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
                {{ criterion }}
            </p>
            <button class="card-header-icon">
                <span class="icon has-text-info has-tooltip-left has-tooltip-multiline"
                      data-tooltip="{{ tooltips[loop.index0] }}">
                    <i class="fas fa-info-circle"></i>
                </span>
            </button>
        </div>
    </div>
{% endfor %}
