{% extends "_base.html.j2" %}

{% block content %}
<div class="container">
    <div class="notification is-primary has-text-centered">
        <h1 class="title">Congratulations!</h1>
        <p class="subtitle">You have completed 10 solutions assessments.</p>
        <p>Please go back to Canvas to fill out the post-evaluation.</p>
        <a href="https://canvas.uw.edu/" class="button is-link is-medium mt-4">Go to Canvas</a>
    </div>
</div>
{% endblock content %}