{% extends "_base.html.j2" %}
{% block content %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Unlock the Future of Startup Success</h1>
        <h2 class="subtitle">AI-Driven Insights for Business Excellence</h2>
      </div>
    </div>
  </section>
{% endblock content %}