{% extends '_base.html' %}

{% block content %}
  <section class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Assignment Instructions</h1>
        <div class="content">
          <p>In this assignment, you will need to evaluate 10 solutions submitted for MIT Solve's 2024 Global Health Equity Challenge. The estimated completion time is 25 - 35 minutes. 2-3 minutes per solution is recommended. You will use two different versions of solution assessment tools, with the first 5 questions using one version and the remaining 5 questions using another version.</p>
          <p>Before beginning the assessment, please follow the provided hyperlink to learn details about the challenge and its objectives.</p>
          <p>
            <a href="https://solve.mit.edu/challenges/2024-global-health-challenge" target="_blank">2024 Global Health Equity Challenge</a>
          </p>
          <h2 class="subtitle">Assessment Process:</h2>
          <ol>
      
            <li>For each solution, assess it based on the 5 given criteria.</li>
            <li>
              After completing your assessment, fill in your decision in the upper corner of the assessment page:<ul>
                <li>Decision: Select either "Pass" or "Fail."</li>
                <li>Fail Reason (if applicable): If the solution fails, select the most obvious criterion that it fails to meet.</li>
                <li>Confidence Level: Indicate your confidence level in making the decision on a scale of 1 (low) to 5 (high).</li>
              </ul>
            </li>
            <li>Click the "Next" button to move on to the next solution.</li>
          </ol>
          <h2 class="subtitle">Completion:</h2>
          <p>Upon completing the evaluation of all 10 solutions, please
            <ol>
            <li>1. Take a screenshot of the final web page that shows you have completed your assessment.</li>
            <li>2. Return to Canvas to upload the screenshot of your completion page and fill out the post-evaluation survey.
            </li>
            </ol>
            </p>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-small">
    <div class="container">
      <div class="px-6 py-5 my-6 notification is-warning">
        <p>
          <strong>Important:</strong> 
            <li>Start assessment only when you complete the practice.  </li>
            <li>Once you start the assessment, you cannot interrupt the assessment or return to the previous page using your browser's navigation buttons. </li>
            <li>Please ensure you have sufficient time to complete the assessment in one sitting. This assessment may take you approximately 25 to 35 minutes to complete. </li>
        </p>
      </div>
    </div>
  </section>

  <section class="hero is-small">
    <div class="py-4 hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <a href="{{ url_for('main.practice') }}" class="button is-secondary is-large">Start Practice</a>
          </div>
          <div class="column">
            <a href="{{ url_for('main.start') }}" class="button is-primary is-large">Start Assignment</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
