{% extends '_base.html' %}

{% block content %}
  <section class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Research Study Instructions</h1>
        <div class="content">
          <p>In this study, you will need to evaluate 10 solutions submitted for MIT Solve's 2024 Global Health Equity Challenge. The estimated completion time is 25 minutes. 2-3 minutes per solution is recommended. You will use two different versions of solution assessment tools, with the first 5 questions using one version and the remaining 5 questions using another version.</p>
          <p>Before beginning the study, please read the following challenge description to learn details about the challenge and its objectives.</p>
          <h3>Challenge Question</h3>
              <p>Every person has the right to access the full range of quality health services they need, when and where they’re
                needed. While there has been some progress towards these goals over the last few decades, much of that progress
                has
                now slowed or reversed. Currently, half the world lacks access to comprehensive health services. Two billion
                people
                face financial hardship due to out-of-pocket healthcare costs. Under-resourced communities (including but not
                limited
                to women and girls, ethnic minorities, people with disabilities, and older adults) are often disproportionately
                affected and experience systematically worse health outcomes.
              </p>
          
              <p>Technology and innovation have an important role to play in improving health and well-being for all. New
                technologies
                can improve health outcomes and access, but only when utilized effectively. Innovation can help these technologies
                be
                more affordable, scalable, sustainable, and community-focused. Opportunities for positive change exist across many
                areas of care including primary care, mental health, and infectious diseases.
              </p>
          
              <p>MIT Solve seeks exceptional solutions—rooted in and driven by communities—that leverage technology to increase
                access
                to quality care and good health. While we are excited to select and support innovators across any health area, we
                have
                a particular interest in solutions that:
              </p>
          
              <ul>
                <li>Ensure health-related data is collected ethically and effectively, and that AI and other insights are
                  accurate,
                  targeted, and actionable.
                </li>
                <li>Increase capacity and resilience of health systems, including workforce, supply chains, and other
                  infrastructure.
                </li>
                <li>Increase access to and quality of health services for medically underserved groups around the world (such as
                  refugees and other displaced people, women and children, older adults, and LGBTQ+ individuals).
                </li>
              </ul>
          <h2 class="subtitle">Assessment Process:</h2>
          <ol>
            <li>For each solution, assess it based on the 5 given criteria.</li>
            <li>
              After completing your assessment, fill in your decision in the upper corner of the assessment page:<ul>
                <li>Decision: Select either "Pass" or "Fail."</li>
                <li>Fail Reason (if applicable): If the solution fails, select the most obvious criterion that it fails to meet.</li>
                <li>Confidence Level: Indicate your confidence level in making the decision on a scale of 1 (low) to 5 (high).</li>
              </ul>
            </li>
            <li>Click the "Next" button to move on to the next solution.</li>
          </ol>
          <h2 class="subtitle">Completion:</h2>
          <p>Upon completing the evaluation of all 10 solutions, please fill out a short post-evaluation survey with the remaining time.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-small">
    <div class="container">
      <div class="px-6 py-5 my-6 notification is-warning">
        <p>
          <strong>Important: Please Read</strong>
          <li>Please start the assessment AFTER completing the practice.</li>
          <li>Once you begin the assessment, do not return to the previous page using your browser’s navigation buttons.</li>
          <li>Please allow 30 minutes to complete the assessment in one sitting.</li>
        </p>
      </div>
    </div>
  </section>

  <section class="hero is-small">
    <div class="py-4 hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <a href="{{ url_for('main.practice') }}" class="button is-secondary is-large">Start Practice</a>
          </div>
          <div class="column">
            <a href="{{ url_for('main.start') }}" class="button is-primary is-large">Start Study</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
