{% extends "_base.html.j2" %}
{% block content %}
    <section class="section">
        <h1 class="title">Section v2</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like
            the one you're currently reading.
        </h2>
    </section>
{% endblock content %}
