{% extends '_base.html' %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="tabs">
        <ul>
          <li class="is-active">
            <a>All</a>
          </li>
          <li>
            <a>Pass</a>
          </li>
          <li>
            <a>Fail</a>
          </li>
          <li>
            <a>Todo</a>
          </li>
        </ul>
      </div>
      <ul>
        {% for solution in solutions %}
          <li class="mb-1">
            <span>{{ solution['Solution ID'] }}.</span><a href="{{ url_for('main.show_solutions_v1', id=solution['Solution ID']) }}">V1</a> | <a href="{{ url_for('main.show_solutions_v2', id=solution['Solution ID']) }}">V2</a> | <a href="{{ url_for('main.show_solutions_v3', id=solution['Solution ID']) }}">V3</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var tabs = document.querySelectorAll('.tabs ul li')
      tabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
          tabs.forEach(function (t) {
            t.classList.remove('is-active')
          })
          tab.classList.add('is-active')
        })
      })
    })
  </script>
{% endblock %}
