{% extends '_base.html' %}
{% block content %}
  <section class="section">
    <h1 class="title">Solution Title</h1>
    <nav class="level">
      <div class="level-left">
        <p class="level-item has-text-centered">
          <span class="tag is-primary">{{ tags['Solution ID'] }}</span>
        </p>
        <p class="level-item has-text-centered">
          <span class="tag is-warning">{{ tags['Challenge Name'] }}</span>
        </p>
        <!-- <p class="subtitle has-text-danger">Please remember to record your answers on Qualtrics.</p> -->
      </div>
    </nav>
    <div class="columns">
      <div class="column">
        <div class="tabs">
          <ul>
            <li class="is-active">
              <a>All</a>
            </li>
            <li>
              <a>C1</a>
            </li>
            <li>
              <a>C2</a>
            </li>
            <li>
              <a>C3</a>
            </li>
            <li>
              <a>C4</a>
            </li>
            <li>
              <a>C5</a>
            </li>
            <li>
              <a>Summary</a>
            </li>
          </ul>
        </div>
        <div id="submission-form-all">
          {% for field in solution %}
            <article class="message">
              <div class="message-header is-clickable">{{ field }}</div>
              <div class="message-body content">{{ solution[field] }}</div>
            </article>
          {% endfor %}
        </div>
        <div id="submission-form-c1">
          <p>c1</p>
        </div>
        <div id="submission-form-c2">
          <p>c2</p>
        </div>
        <div id="submission-form-c3">
          <p>c3</p>
        </div>
        <div id="submission-form-c4">
          <p>c4</p>
        </div>
        <div id="submission-form-c5">
          <p>c5</p>
        </div>
        <div id="submission-form-summary">
          <p>summary</p>
        </div>
      </div>
      <div class="column is-one-third"></div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/show.js') }}"></script>
{% endblock %}
