{% extends '_base.html' %}
{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
{% endblock %}
<!--                         {% block style %}
  <style>
    .timer-wrapper {
      display: flex;
      align-items: center;
    }
    
    .timer-text {
      font-size: 1em;
      margin-right: 10px;
    }
    
    .timer {
      font-size: 1em;
      font-weight: bold;
    }
    
    .is-invalid {
      border-color: red;
    }
    
    .warning-text {
      color: red;
      font-size: 0.875em;
      margin-top: 0.25em;
    }
  </style>
{% endblock %}                         -->

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <div class="timer-wrapper">
            <div class="timer-text">Remaining time</div>
            <div class="timer" id="timer">2:30</div>
          </div>
          <script>
            let countdown
            const timerElement = document.getElementById('timer')
            let timeLeft = 150 // 2 minutes and 30 seconds in seconds
            let isWindowFocused = true // Track if the window is focused
            
            function updateTimer() {
              if (isWindowFocused) {
                const minutes = Math.floor(timeLeft / 60)
                let seconds = timeLeft % 60
            
                seconds = seconds < 10 ? '0' + seconds : seconds
            
                timerElement.innerHTML = `${minutes}:${seconds}`
            
                if (timeLeft === 0) {
                  clearInterval(countdown)
                  timerElement.innerHTML = 'Time is up!'
                }
            
                timeLeft--
              }
            }
            
            // Start the countdown timer
            countdown = setInterval(updateTimer, 1000)
            
            // Handle window focus event
            window.onfocus = function () {
              isWindowFocused = true
            }
            
            // Handle window blur event
            window.onblur = function () {
              isWindowFocused = false
            }
          </script>
          <div class="mt-3"></div> <!-- Add a div with margin-top -->
          <h1 class="title">{{ tags['Name'] }}</h1>
          <nav class="level">
            <div class="level-left">
              <p class="level-item has-text-centered">
                <span class="tag is-primary">{{ tags['Solution ID'] }}</span>
              </p>
              <p class="level-item has-text-centered">
                <span class="tag is-warning">{{ tags['Challenge Name'] }}</span>
              </p>
            </div>
          </nav>
          <div class="progress-container">
            <progress class="progress is-primary" value="{{ solution_count }}" max="{{ total_solutions }}">{{ solution_count }} / {{ total_solutions }}</progress>
            <p class="has-text-centered">{{ solution_count }} / {{ total_solutions }} Solutions</p>
          </div>
        </div>

        <div class="column is-two-thirds">
          <form action="/record" method="POST" onsubmit="return validateForm()" novalidate>
            {% if is_practice %}
              <input type="hidden" name="is_practice" value="1" />
            {% endif %}
            <input type="hidden" name="solution_id" value="{{ tags['Solution ID'] }}" />
            <div class="box">
              <div class="field">
                <label class="label">Decision</label>
                <div class="control">
                  <label class="radio"><input type="radio" name="result" value="pass" />Pass</label>
                  <label class="radio"><input type="radio" name="result" value="fail" />Fail</label>
                </div>
                <p class="warning-text" id="result-warning" style="display: none;">Please select your decision</p>
              </div>

              <div class="field" id="reason-field" style="display: none;">
                <label class="label">Fail Reason</label>
                <div class="control">
                  <div class="select">
                    <select name="reason" id="reason" required>
                      <option value="">Select a reason</option>
                      <option value="1">1 - The solution is incomplete, inappropriate, and not intelligible</option>
                      <option value="2">2 - The solution does not reach prototype stage</option>
                      <option value="3">3 - The solution does not address the challenge question</option>
                      <option value="4">4 - The solution is not powered by technology</option>
                      <option value="5">5 - The quality of the solution is not good enough</option>
                    </select>
                  </div>
                </div>
                <p class="warning-text" id="reason-warning" style="display: none;">Please select the main reason for failure</p>
              </div>

              <div class="field">
                <label class="label">How confident are you with the decision?</label>
                <div class="control">
                  <label class="radio"><input type="radio" name="confidence" value="1" />1 - Not at all confident</label>
                  <label class="radio"><input type="radio" name="confidence" value="2" />2</label>
                  <label class="radio"><input type="radio" name="confidence" value="3" />3</label>
                  <label class="radio"><input type="radio" name="confidence" value="4" />4</label>
                  <label class="radio"><input type="radio" name="confidence" value="5" />5 - Extremely confident</label>
                </div>
                <p class="warning-text" id="confidence-warning" style="display: none;">Please select your confidence level</p>
              </div>

              <div class="field">
                <div class="control">
                  <button class="button is-primary" type="submit">Next</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-third">
          {% if request.endpoint == 'main.show_solutions_v1' %}
            {% include '_ai_v1.html' %}
          {% elif request.endpoint == 'main.show_solutions_v2' %}
            {% include '_ai_v2.html' %}
          {% elif request.endpoint == 'main.show_solutions_v3' %}
            {% include '_ai_v3.html' %}
          {% endif %}
        </div>
        <div class="column is-two-thirds">
          <div class="tabs">
            <ul>
              <li class="is-active" onclick="showTab('all')">
                <a href="#">All</a>
              </li>
              <li onclick="showTab('c1')">
                <a href="#">Criterion 1</a>
              </li>
              <li onclick="showTab('c2')">
                <a href="#">Criterion 2</a>
              </li>
              <li onclick="showTab('c3')">
                <a href="#">Criterion 3</a>
              </li>
              <li onclick="showTab('c4')">
                <a href="#">Criterion 4</a>
              </li>
              <li onclick="showTab('c5')">
                <a href="#">Criterion 5</a>
              </li>
              <li onclick="showTab('summary')">
                <a href="#">Summary</a>
              </li>
              <li onclick="showTab('challenge')">
                <a href="#">Challenge Question</a>
              </li>
            </ul>
          </div>
          <div id="submission-form-all" style="display: block;">
            {% for key, value in solution_all.items() %}
              <div class="card">
                <header class="card-header is-clickable" onclick="toggleContent('content-all-{{ key|replace(' ', '-') }}')">
                  <p class="card-header-title">{{ key }}</p>
                  <a class="card-header-icon" aria-label="more options"><span class="icon"><i class="fas fa-angle-down"></i></span></a>
                </header>
                <div class="card-content" id="content-all-{{ key|replace(' ', '-') }}" style="display: block;">
                  <div class="content">{{ value|safe }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div id="submission-form-c1" style="display: none;">
            {% for key, value in solution_all.items() %}
              <div class="card">
                <header class="card-header is-clickable" onclick="toggleContent('content-c1-{{ key|replace(' ', '-') }}')">
                  <p class="card-header-title">{{ key }}</p>
                  <a class="card-header-icon" aria-label="more options"><span class="icon"><i class="fas fa-angle-down"></i></span></a>
                </header>
                <div class="card-content" id="content-c1-{{ key|replace(' ', '-') }}" style="display: block;">
                  <div class="content">{{ value|safe }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div id="submission-form-c2" style="display: none;">
            {% for key, value in solution_c2.items() %}
              <div class="card">
                <header class="card-header is-clickable" onclick="toggleContent('content-c2-{{ key|replace(' ', '-') }}')">
                  <p class="card-header-title">{{ key }}</p>
                  <a class="card-header-icon" aria-label="more options"><span class="icon"><i class="fas fa-angle-down"></i></span></a>
                </header>
                <div class="card-content" id="content-c2-{{ key|replace(' ', '-') }}" style="display: block;">
                  <div class="content">{{ value|safe }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div id="submission-form-c3" style="display: none;">
            {% for key, value in solution_c3.items() %}
              <div class="card">
                <header class="card-header is-clickable" onclick="toggleContent('content-c3-{{ key|replace(' ', '-') }}')">
                  <p class="card-header-title">{{ key }}</p>
                  <a class="card-header-icon" aria-label="more options"><span class="icon"><i class="fas fa-angle-down"></i></span></a>
                </header>
                <div class="card-content" id="content-c3-{{ key|replace(' ', '-') }}" style="display: block;">
                  <div class="content">{{ value|safe }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div id="submission-form-c4" style="display: none;">
            {% for key, value in solution_c4.items() %}
              <div class="card">
                <header class="card-header is-clickable" onclick="toggleContent('content-c4-{{ key|replace(' ', '-') }}')">
                  <p class="card-header-title">{{ key }}</p>
                  <a class="card-header-icon" aria-label="more options"><span class="icon"><i class="fas fa-angle-down"></i></span></a>
                </header>
                <div class="card-content" id="content-c4-{{ key|replace(' ', '-') }}" style="display: block;">
                  <div class="content">{{ value|safe }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div id="submission-form-c5" style="display: none;">
            {% for key, value in solution_all.items() %}
              <div class="card">
                <header class="card-header is-clickable" onclick="toggleContent('content-c5-{{ key|replace(' ', '-') }}')">
                  <p class="card-header-title">{{ key }}</p>
                  <a class="card-header-icon" aria-label="more options"><span class="icon"><i class="fas fa-angle-down"></i></span></a>
                </header>
                <div class="card-content" id="content-c5-{{ key|replace(' ', '-') }}" style="display: block;">
                  <div class="content">{{ value|safe }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div id="submission-form-summary" style="display: none;">
            <p>{{ solution_summary|replace('\n', '<br>')|safe }}</p>
          </div>
          <div id="submission-form-challenge" style="display: none;">
            <div class="content">
              <h3>Challenge Question</h3>
              <p>Every person has the right to access the full range of quality health services they need, when and where they’re
                needed. While there has been some progress towards these goals over the last few decades, much of that progress
                has
                now slowed or reversed. Currently, half the world lacks access to comprehensive health services. Two billion
                people
                face financial hardship due to out-of-pocket healthcare costs. Under-resourced communities (including but not
                limited
                to women and girls, ethnic minorities, people with disabilities, and older adults) are often disproportionately
                affected and experience systematically worse health outcomes.
              </p>
          
              <p>Technology and innovation have an important role to play in improving health and well-being for all. New
                technologies
                can improve health outcomes and access, but only when utilized effectively. Innovation can help these technologies
                be
                more affordable, scalable, sustainable, and community-focused. Opportunities for positive change exist across many
                areas of care including primary care, mental health, and infectious diseases.
              </p>
          
              <p>MIT Solve seeks exceptional solutions—rooted in and driven by communities—that leverage technology to increase
                access
                to quality care and good health. While we are excited to select and support innovators across any health area, we
                have
                a particular interest in solutions that:
              </p>
          
              <ul>
                <li>Ensure health-related data is collected ethically and effectively, and that AI and other insights are
                  accurate,
                  targeted, and actionable.
                </li>
                <li>Increase capacity and resilience of health systems, including workforce, supply chains, and other
                  infrastructure.
                </li>
                <li>Increase access to and quality of health services for medically underserved groups around the world (such as
                  refugees and other displaced people, women and children, older adults, and LGBTQ+ individuals).
                </li>
              </ul>
            </div>
          </div>
          <div class="is-flex is-justify-content-flex-end">
            <button style="display: none;" class="button mt-5 js-modal-trigger" data-target="modal-js-example">Go to survey</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Are you sure you want to end the study now?</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>Click "Yes" to go to the survey page.</p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <a class="button is-success" href="{{ url_for('main.survey') }}">Yes</a>
          <button class="button">Cancel</button>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/show.js') }}"></script>
  <script>
    function showTab(tabName) {
      console.log(tabName)
      const tabs = ['all', 'c1', 'c2', 'c3', 'c4', 'c5', 'summary', 'challenge']
      tabs.forEach((tab) => {
        document.getElementById('submission-form-' + tab).style.display = tab === tabName ? 'block' : 'none'
      })
      document.querySelectorAll('.tabs ul li').forEach((li) => {
        li.classList.remove('is-active')
      })
      document.querySelector(`.tabs li[onclick*="showTab('${tabName}')"]`).classList.add('is-active')
    }
  </script>
  <!--                           <script>
    function validateForm() {
      var result = document.querySelector('input[name="result"]:checked')
      var confidence = document.querySelector('input[name="confidence"]:checked')
    
      if (!result) {
        alert('Please select a decision.')
        return false
      }
      if (!confidence) {
        alert('Please select a confidence.')
        return false
      }
      return true
    }
  </script>                           -->
  <script>
    // document.addEventListener('DOMContentLoaded', function () {
    //   var resultRadios = document.querySelectorAll('input[name="result"]')
    //   var reasonField = document.getElementById('reason-field')
    //   var reasonSelect = document.getElementById('reason')
    
    //   resultRadios.forEach(function (radio) {
    //     radio.addEventListener('change', function () {
    //       if (this.value === 'fail') {
    //         reasonField.style.display = 'block'
    //         reasonSelect.required = true
    //       } else {
    //         reasonField.style.display = 'none'
    //         reasonSelect.required = false
    //         reasonSelect.value = ''
    //       }
    //     })
    //   })
    // })
    
    function validateForm() {
      var result = document.querySelector('input[name="result"]:checked')
      var reason = document.getElementById('reason')
      var confidence = document.querySelector('input[name="confidence"]:checked')
      var isValid = true
    
      // Reset warnings and classes
      document.getElementById('result-warning').style.display = 'none'
      document.getElementById('reason-warning').style.display = 'none'
      document.getElementById('confidence-warning').style.display = 'none'
      document.querySelectorAll('.is-invalid').forEach((el) => el.classList.remove('is-invalid'))
    
      if (!result) {
        document.getElementById('result-warning').style.display = 'block'
        document.querySelectorAll('input[name="result"]').forEach((el) => el.classList.add('is-invalid'))
        isValid = false
      }
    
      if (result && result.value === 'fail' && reason.value === '') {
        document.getElementById('reason-warning').style.display = 'block'
        reason.classList.add('is-invalid')
        isValid = false
      }
    
      if (!confidence) {
        document.getElementById('confidence-warning').style.display = 'block'
        document.querySelectorAll('input[name="confidence"]').forEach((el) => el.classList.add('is-invalid'))
        isValid = false
      }
    
      return isValid
    }
  </script>

  <script>
    $(document).ready(function () {
      $('input[name="result"]').on('change', function () {
        if ($(this).val() === 'fail') {
          $('#reason-field').show()
          $('#reason').prop('required', true)
        } else {
          $('#reason-field').hide()
          $('#reason').prop('required', false)
          $('#reason').val('')
        }
      })
    })
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Functions to open and close a modal
      function openModal($el) {
        $el.classList.add('is-active')
      }
    
      function closeModal($el) {
        $el.classList.remove('is-active')
      }
    
      function closeAllModals() {
        ;(document.querySelectorAll('.modal') || []).forEach(($modal) => {
          closeModal($modal)
        })
      }
    
      // Add a click event on buttons to open a specific modal
      ;(document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target
        const $target = document.getElementById(modal)
    
        $trigger.addEventListener('click', () => {
          openModal($target)
        })
      })
    
      // Add a click event on various child elements to close the parent modal
      ;(document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
        const $target = $close.closest('.modal')
    
        $close.addEventListener('click', () => {
          closeModal($target)
        })
      })
    
      // Add a keyboard event to close all modals
      document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
          closeAllModals()
        }
      })
    })
  </script>
{% endblock %}
